<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="container register-form">
    <div class="form">
        <div class="note">
            <h1>Forgot your password?</h1>
        </div>
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                          <%= f.email_field :email,class: "form-control", placeholder: "Email *", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <%= f.submit "Resend confirmation instructions", class: "btnSubmit" %>
            </div>
            </br>
              Return to: <%= link_to " LogIn", new_session_path(resource_name) %><br />
              Don't have account?<%= link_to "Sign up", new_registration_path(resource_name) %><br />
            </div>
    </div>
</div>

<% end %>


<%= render "devise/shared/links" %>
