<div class="container">
<h1 class=" text-tittle">Conversations</h1>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
          </div>
          <div class="inbox_chat">
            <% @conversations.each do |conversation| %>
              <% if conversation.sender_id == current_user.id || conversation.receiver_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.receiver_id) %>
             <% else %>
             <% recipient = User.find(conversation.sender_id) %>
           <% end %>
           <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5><%= link_to recipient.email, conversation_messages_path(conversation)%> <span class="chat_date"><%= conversation.messages.last.message_time %></span></h5>
                  <p><%= conversation.messages.last.body %></p>
                </div>
              </div>
            </div>
             <% end %>
         <% end %>
          </div>
        </div>
        
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>All Users</h4>
            </div>
          </div>
          <div class="inbox_chat">
            <% @users.each do |user| %>
        <% if user.id != current_user.id %>
           <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5><%= link_to user.email, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: "post"%></h5>
                </div>
              </div>
            </div>
             <% end %>
         <% end %>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="logout">
  <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: 'delete' %>
      <%= link_to "Edit Profile", edit_user_registration_path %>
      <% end %>
</div>
